.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
}

.empathyBox {
  padding-left: 20px;
  /* height: 200px; */
  /* border-radius: 5px; */
  /* border: 2px solid rgba(98, 98, 98, 0.374); */
}

.image {
  margin-left: 5%;
  /* margin-top: 10px; */
  width: 45%;
  height: 45%;
}

.title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #23036A;
}

.empathyText {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.15px;

  /* 00. On Surface / Medium Emphasis */
  color: rgba(0, 0, 0, 0.6);
}

.spacer {
  flex: 1;
}
