.container {
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}

.line {
  display: flex;
}

.empathyBox {
  padding: 20px;
  background-color: #E9505B;
  /* min-width: 300px; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.empathyArrow {
  position: relative;
  top: 60px;
  right: 0px;
  width: 80px;
  height: 30px;
  background-color: aqua;
  display: block;
}

.image {
  margin-left: 5%;
  /* margin-top: 10px; */
  width: 40%;
  height: 45%;
}

.title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: white;
}

.empathyText {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.15px;

  /* 00. On Surface / Medium Emphasis */
  color: white
}

.spacer {
  flex: 1;
}
