<!-- Deine Aufgabe -->
<div class="hintBox" *ngIf="stepperIndex === 0">
  <ul>
    <li>An welche Themen, Projekte, werden die Bewerbenden arbeiten?</li>
    <li> Beschreibe die Aufgaben und Arbeitsinhalte mit Beispielen</li>
    <li> Beschreibe die Rolle</li>
    <li> Beschreibe kurz, wie ein typischer Tag oder eine Woche aussehen könnte?</li>
  </ul>
</div>
<div class="hintBox" *ngIf="stepperIndex === 0">
 {{ jd_data?.hiring_manager_data?.what_you_work_on }}
</div>

<!-- Dein Profil -->
<div class="hintBox" *ngIf="stepperIndex === 1">
  <ul>
    <li> Welche Abschlüsse sind gefordert?</li>
    <li> Beschreibe die Fähigkeiten passend zu den Aufgaben und Arbeitsinhalten</li>
    <li> Wie zahlen die Fähigkeiten auf die Ziele der Position ein?</li>
    <li> Was für Tools sollte die Bewerber:in beherrschen?</li>
    <li> Welche Softskills sind wichtig für das Team?</li>
  </ul>
</div>
<div class="hintBox" *ngIf="stepperIndex === 1">
  {{ jd_data?.hiring_manager_data?.what_you_bring }}
 </div>

<!-- Dein Team -->
<div class="hintBox" *ngIf="stepperIndex === 2">
  <ul>
    <li>Ist das Team interdisziplinär?</li>
    <li>Gibts es ähnliche Positionen?</li>
    <li>Wer ist noch im Team?</li>
    <li>Wie groß ist das Team?</li>
    <li>Wie ist die Altersstruktur?</li>
    <li>Wie ist die Geschlechterverteilung?</li>
    <li>Ist die Stelle eine neu geschaffen?</li>
    <li>Wächst das Team?</li>
  </ul>
</div>
<div class="hintBox" *ngIf="stepperIndex === 2">
  {{ jd_data?.hiring_manager_data?.team }}
 </div>

<!-- Unsere Arbeit / Das erwartet dich-->
<div class="hintBox" *ngIf="stepperIndex === 3">
  <ul>
    <li> Welche agilen Arbeitsmethoden werden eingesetzt?</li>
    <li> Check-ins / Retros / Scrum / ...</li>
    <li> Beschreibe Eure Teamkultur und welche Werte euch wichtig sind?</li>
    <li> Fehlerkultur / Auf Augenhöhe Entscheidungen treffen / Kaffeerunden zum Start in den Morgen / ...</li>
    <li> Wie arbeitet ihr an den Aufgaben?</li>
    <li> In zeitlich begrenzten Projekten / Tickets / Multidisziplinären Teams / ...</li>
    <li> Wie frei und eigenverantwortlich wird der Bewerbende arbeiten können?</li>
    <li> Beschreibe welche Formen des Arbeitsortes möglich sind (Office / Remote) und wie oft</li>
    <li> Beschreibe diese, nur wenn sie wirklich gelebt werden</li>
  </ul>
</div>
<div class="hintBox" *ngIf="stepperIndex === 3">
  {{ jd_data?.hiring_manager_data?.how_we_work }}
 </div>

<!-- Dein Purpose bei Uns -->
<div class="hintBox" *ngIf="stepperIndex === 4">
  <ul>
    <li> Purpose 1</li>
    <li> Purpose 1</li>
    <li> Purpose 1</li>
    <li> Purpose 1</li>
    <li> Purpose 1</li>
  </ul>
</div>
<div class="hintBox" *ngIf="stepperIndex === 4">
  {{ jd_data?.hiring_manager_data?.impact_in_work }}
 </div>

<!-- Titel und Zusammenfassung -->
<div class="hintBox" *ngIf="stepperIndex === 5">
  <ul>
    <li> Benefit 1</li>
    <li> Benefit 2</li>
    <li> Benefit 3</li>
    <li> Benefit 4</li>
    <li> Benefit 5</li>
  </ul>
</div>
<div class="hintBox" *ngIf="stepperIndex === 5">
  <p>Titel: {{ jd_data?.hiring_manager_data?.title }}</p>
  <p>Zusammenfassung: {{ jd_data?.hiring_manager_data?.summary }}</p>
</div>

<!-- Deine Benefits -->
<div class="hintBox" *ngIf="stepperIndex === 6">
  <ul>
    <li> Benefit 1</li>
    <li> Benefit 2</li>
    <li> Benefit 3</li>
    <li> Benefit 4</li>
    <li> Benefit 5</li>
  </ul>
</div>

<!-- Unser Bewerbungsprozess -->
<div class="hintBox" *ngIf="stepperIndex === 7">
  <ul>
    <li> Prozess 1</li>
    <li> Prozess 2</li>
    <li> Prozess 3</li>
    <li> Prozess 4</li>
    <li> Prozess 5</li>
  </ul>
</div>

<!-- Rechtliches -->
<div class="hintBox" *ngIf="stepperIndex === 8">
  <ul>
    <li> Rechtliches 1</li>
    <li> Rechtliches 2</li>
    <li> Rechtliches 3</li>
    <li> Rechtliches 4</li>
    <li> Rechtliches 5</li>
  </ul>
</div>

<!-- Disclaimer -->
<div class="hintBox" *ngIf="stepperIndex === 9">
  <ul>
    <li> Disclaimer 1</li>
    <li> Disclaimer 2</li>
    <li> Disclaimer 3</li>
    <li> Disclaimer 4</li>
    <li> Disclaimer 5</li>
  </ul>
</div>

<!-- Freifeld -->
<div class="hintBox" *ngIf="stepperIndex === 10">
  <ul>
    <li> Freifeld 1</li>
    <li> Freifeld 2</li>
    <li> Freifeld 3</li>
    <li> Freifeld 4</li>
    <li> Freifeld 5</li>
  </ul>
</div>
