<mat-card *ngIf="eventService.activeElement">
    <!-- <mat-card-title>{{eventService.activeElement}}</mat-card-title> -->
    <div class="mat-title">{{getExample().title}}</div>
    <!-- <div class="mat-body1">{{getExample().body}}</div> -->
    <mat-card-content>{{getExample().body}}</mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <!-- <div fxFlex></div> -->
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>