<div class="line">
    <app-stepper-dot [index]="0" [activeStep]="index"></app-stepper-dot>
    <span class="divider"></span>
    <app-stepper-dot [index]="1" [activeStep]="index"></app-stepper-dot>
    <span class="divider"></span>
    <app-stepper-dot [index]="2" [activeStep]="index"></app-stepper-dot>
    <span class="divider"></span>
    <app-stepper-dot [index]="3" [activeStep]="index"></app-stepper-dot>
    <span class="divider"></span>
    <app-stepper-dot [index]="4" [activeStep]="index"></app-stepper-dot>
    <span class="divider"></span>
    <app-stepper-dot [index]="5" [activeStep]="index"></app-stepper-dot>
    <span class="divider"></span>
    <app-stepper-dot [index]="6" [activeStep]="index"></app-stepper-dot>
</div>
