
<div class="contentContainer">
  <div class="headerBanner"></div>
<div class="headerBody">
  <div class="headerTitle">{{ jd_data?.hr_data?.title }}</div>
  <div class="headerSummary">
    {{ jd_data?.hr_data?.summary}}
  </div>
</div>
<div class="headerBanner"></div>
<div class="headerBanner"></div>
  <div class="headerDetailsContent">
    <p><span class="headerDetailsContentBold">Ort:</span>{{ jd_data?.location }}</p>
    <p><span class="headerDetailsContentBold">Bewerbungsfrist:</span>{{ jd_data?.application_deadline }}</p>
    <p><span class="headerDetailsContentBold">Beschäftigung:</span>{{ jd_data?.employment_type }}</p>
    <p><span class="headerDetailsContentBold">Eintrittsdatum:</span>{{ jd_data?.start_date }}</p>
    </div>
  <div class="headerDetailsContent">
    <p><span class="headerDetailsContentBold">Benötigte Abschlüsse:</span>{{ jd_data?.education }}</p>
    <p><span class="headerDetailsContentBold">Ausschreibungsnummer: </span>{{ jd_data?.id }}</p>
    <p><span class="headerDetailsContentBold">Vergütung: </span>{{ jd_data?.compensation }}</p>
    <p><span class="headerDetailsContentBold">Webseite: </span>{{ jd_data?.website }}</p>
    </div>
    <div class="headerBanner"></div>
    <div class="contentBorder"></div>
<div class="contentMainBody">
  <div class="contentBodyTitle">Unser und dein Purpose</div>
  <div class="contentBodyText">
    {{ jd_data?.hr_data?.purpose }}
  </div>
  <div class="contentBodyTitle">Dein Profil</div>
  <div class="contentBodyText">
   {{ jd_data?.hr_data?.what_you_bring }}
  </div>
</div>
<div class="contentMainBody">
  <div class="contentBodyTitle">Deine Aufgabe</div>
  <div class="contentBodyText">
    {{ jd_data?.hr_data?.what_you_work_on }}
  </div>
</div>
<div class="contentBorder"></div>
<div class="contentBorder"></div>
<div class="contentBodyTiles">
    <div class="contentBodyTilesBackground">
<div class="contentBodyTitle">Dein Team</div>
<div class="contentBodyText">
  {{ jd_data?.hr_data?.team }}
</div>
</div>
</div>
<div class="contentBodyTiles">
    <div class="contentBodyTilesBackground">
<div class="contentBodyTitle">Unsere Arbeit</div>
<div class="contentBodyText">
  {{ jd_data?.hr_data?.how_we_work }}
</div>
</div>
</div>
<div class="contentBodyTiles">
  <div class="contentBodyTilesBackground">
<div class="contentBodyTitle">Benefits</div>
<div class="contentBodyText">
  {{ jd_data?.hr_data?.benefits }}
</div>
</div>
</div>
<div class="contentBorder"></div>
<div class="contentBorder"></div>
<div class="contentBodyTiles">
  <div class="contentBodyTilesBackground">
  <div class="contentBodyTitle">Unser Prozess</div>
  <div class="contentBodyText">
    {{ jd_data?.hr_data?.process }}
  </div>
  </div>
</div>
  <div class="contentBodyDoubleTiles">
    <div class="contentBodyDoubleTilesBackground">
    <div class="contentBodyTitle">Rechtliches</div>
    <div class="contentBodyDoubleTilesText">
    <div class="contentBodyText">
      {{ jd_data?.hr_data?.legal }}
    </div>
    </div>
  </div></div>
  <div class="contentBorder"></div>

  <div class="contentBorder"></div>
  <div class="contentBodyDoubleTiles">
    <div class="contentBodyDoubleTilesBackground">
      <div class="contentBodyTitle">Deine Ansprechpartner:innen </div>
      <div class="contentBodyDoubleTilesText">
        <div class="contentBodyText">
        <p>Für den Bewerbungsprozess</p>

        Tim Büdre<br>
        Recruitment<br>
        Tel.: +49 201 475-1512

        <p class="secondContact">Für Fachliches</p>

        Tantja Bönke<br>
        Fachabteilung<br>
        Tel.: +49 201 475-1512
      </div>
      </div>
    </div></div>
    <div class="contentBodyTiles">
      <div class="contentBodyTilesBackground">
      <div class="contentBodyTitle">Freifeld</div>
      <div class="contentBodyText">
          {{ jd_data?.hr_data?.free_field }}
      </div>
      </div>
    </div>
  <div class="contentBorder"></div>
  <div class="contentBorder"></div>
  <div class="contentBodyTiles">
  </div>
  <div class="contentBodyDoubleTiles">
    <div class="contentBodyDoubleTilesBackground">
      <div class="contentBodyTitle">Disclaimer</div>
      <div class="contentBodyText">
        {{ jd_data?.hr_data?.disclaimer }}
    </div>
    </div></div>

    <div class="contentBorder"></div>
    <div class="contentBorder"></div>
  <div class="footer"></div>
</div>
