<!-- <div class="hintBox" *ngIf="!hint_page()">to be filled ...</div>
<div *ngIf="hint_page()">
  <div class="smallHintBox">to be filled ... xx </div>
  <div class="departmentInput">
    <div class="mat-subheading-2">Input der Fachabteilung</div>
    <p *ngIf="stepper.selectedIndex === 1">{{ jd_data?.hiring_manager_data?.what_you_work_on }}</p>
    <p *ngIf="stepper.selectedIndex === 2">{{ jd_data?.hiring_manager_data?.what_you_bring }}</p>
    <p *ngIf="stepper.selectedIndex === 3">{{ jd_data?.hiring_manager_data?.team }}</p>
    <p *ngIf="stepper.selectedIndex === 5">Titel: {{ jd_data?.hiring_manager_data?.title }}</p>
    <p *ngIf="stepper.selectedIndex === 5">Zusammenfassung: {{ jd_data?.hiring_manager_data?.summary }}</p>
  </div>
</div> -->

<app-department-hints *ngIf="role === 'department'" [stepperIndex]="stepperIndex"></app-department-hints>
<app-hr-hints *ngIf="role === 'human_resources'"  [stepperIndex]="stepperIndex"></app-hr-hints>
