.body-div {
    padding: 10%;
    width: 50%;
    max-width: 600px;
}

.input-module {
    width: 100%;
    padding-top: 15px;
}

.mat-body1 {
    color: rgb(73, 73, 73);
}


.button-row {
    display: table-cell;
    padding-top: 80px;
}

.button-row-item {
    margin-right: 10px;
}