<div class="mainContainer">
<div class="stepperContainer">
<mat-stepper headerPosition="bottom"  #stepper>
  <mat-step>
    <div class="mat-title">Daran arbeitest du</div>
    <div class="empathyBox">to be filled ...</div>
    <form [formGroup]="form">
      <ng-template matStepLabel>Daran arbeitest du</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name this is new</mat-label>
        <textarea matInput rows="6" formControlName="what_you_work_on" placeholder="..."></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="form">
      <div class="mat-title">Das bringst du mit</div>
      <div class="empathyBox">to be filled ...</div>

      <ng-template matStepLabel>Das bringst du mit</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Das bringst du mit</mat-label>
        <textarea matInput rows="6" formControlName="what_you_bring" placeholder="..."></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="form">
      <div class="mat-title">Team</div>
      <div class="empathyBox">to be filled ...</div>

      <ng-template matStepLabel>Team</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Team</mat-label>
        <textarea matInput rows="6" formControlName="team" placeholder="..."></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="save()">Save</button>
        <button mat-button (click)="submitToHr()">Submit to HR</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
</div>
<div class="helpContainer">
  <div class="hintBox">to be filled ...</div>
</div>
</div>
