.mainContainer {
  display: grid;
  grid-template-columns: 55% auto;
  height: 100%;
}

.stepperContainer {
  height: 100%;
}

.helpContainer {
  padding: 25px;
  /* background-color: rgb(212, 212, 19); */
}

.stepper {
  height: 100%;
  position: absolute;
  bottom: 0px;
  width: 55%;
}

.mat-form-field {
  width: 100%;
  padding-top: 15px;
}

.hintBox {
  padding: 30px;
  /* height: 450px; */
  border-radius: 5px;
  border: 2px solid rgb(98, 98, 98, 0.374);
}
