<div class="mainContainer">
<div class="stepperContainer">
<mat-stepper headerPosition="bottom"  #stepper>
  <mat-step>
    <div class="mat-title">Warum {{ key }}</div>
    <div class="empathyBox">to be filled ...</div>
    <form [formGroup]="form">
      <ng-template matStepLabel>Warum</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name this is new</mat-label>
        <textarea matInput rows="6" formControlName="why" placeholder="..."></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="form">
      <div class="mat-title">Woran</div>
      <div class="empathyBox">to be filled ...</div>

      <ng-template matStepLabel>Woran</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Woran wird gearbeitet</mat-label>
        <textarea matInput rows="6" formControlName="what" placeholder="..."></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="form">
      <div class="mat-title">Mit Wem</div>
      <div class="empathyBox">to be filled ...</div>

      <ng-template matStepLabel>Mit Wem</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Mit Wem wird gearbeitet</mat-label>
        <textarea matInput rows="6" formControlName="withWhom" placeholder="..."></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="form">
      <div class="mat-title">Wie</div>
      <div class="empathyBox">to be filled ...</div>

      <ng-template matStepLabel>Wie</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Wie wird gearbeitet</mat-label>
        <textarea matInput rows="6" formControlName="how" placeholder="..."></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="save()">Save</button>
        <button mat-button (click)="submitToHr()">Submit to HR</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
</div>
<div class="helpContainer">
  <div class="hintBox">to be filled ...</div>
</div>
</div>
