<!-- <mat-stepper orientation="vertical"> -->
<div *ngFor="let data of sections">
  <!-- <mat-step> -->
    <app-section [id]="data.id" [title]="data.title" [subtitle]="data.subtitle" [isTextarea]="data.isTextarea"></app-section>
  <!-- </mat-step> -->
</div>
<!-- </mat-stepper> -->
<div class="button-row">
  <div layout="row" layout-align="start center">
    <button mat-raised-button color="primary" class="button-row-item"
      (click)="onSubmit()">Speichern</button>
      <span flex></span>
      <button mat-raised-button color="secondary" class="button-row-item"
      (click)="onCancel()">Verwerfen</button>
    </div>
</div>
