<div class="mainContainer">
  <div class="leftContainer">
  <div class="stepperContainer">
    <div class="stepperContent">

      <div class="spacer"></div>

      <app-content
        [title]="displayData[stepper.index].title"
        [text]="displayData[stepper.index].text"
        [textareaLabel]="displayData[stepper.index].textareaLabel">
      </app-content>

      <div class="spacer"></div>

      <div class="textareaLabel">{{ displayData[stepper.index].textareaLabel }}</div>
      <form [formGroup]="form">
        <textarea rows="6" formControlName="what_you_work_on" *ngIf="stepper.index == 0" placeholder="Schreib einfach los... "></textarea>
        <textarea rows="6" formControlName="what_you_bring" *ngIf="stepper.index == 1" placeholder="Schreib einfach los... "></textarea>
        <textarea rows="6" formControlName="team" *ngIf="stepper.index == 2" placeholder="Schreib einfach los... "></textarea>
        <textarea rows="6" formControlName="how_we_work" *ngIf="stepper.index == 3" placeholder="Schreib einfach los... "></textarea>
        <textarea rows="6" formControlName="purpose" *ngIf="stepper.index == 4" placeholder="Schreib einfach los... "></textarea>
        <textarea rows="6" formControlName="title" *ngIf="stepper.index == 5" placeholder="Schreib einfach los... "></textarea>
        <textarea rows="6" formControlName="summary" *ngIf="stepper.index == 6" placeholder="Schreib einfach los... "></textarea>
        <textarea rows="6" formControlName="benefits" *ngIf="stepper.index == 7" placeholder="Schreib einfach los... "></textarea>
        <textarea rows="6" formControlName="process" *ngIf="stepper.index == 8" placeholder="Schreib einfach los... "></textarea>
        <textarea rows="6" formControlName="legal" *ngIf="stepper.index == 9" placeholder="Schreib einfach los... "></textarea>
        <!-- <div id="count">
          <span id="current"> {{ charachtersCount }}</span>
          <span id="maximum">/ 300</span>
        </div> -->
      </form>


    <span class="buttonBar">
      <button mat-raised-button color="primary" (click)="save()">SICHERN</button>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" (click)="back()" *ngIf="stepper.index !== 0">ZURÜCK</button>
      <button mat-raised-button color="primary" (click)="next()" *ngIf="stepper.index !== 9">WEITER</button>
      <button mat-raised-button color="primary" (click)="preview()" *ngIf="stepper.index === 9">VORSCHAU</button>
      <button mat-raised-button color="primary" (click)="finish()" *ngIf="stepper.index === 9">FERTIGSTELLEN</button>
    </span>
    <app-stepper-HR #stepper class="stepper"></app-stepper-HR>
  </div>
</div>
<div class="arrow"></div>
</div>
  <div class="helpContainer">
    <div class="hints" *ngIf="stepper.index !== 9">
      <div class="title">Solche Formulierungen begeistern die Bewerbenden:</div>
      <div class="empathyText">
        <ul>
          <li *ngFor="let hint of displayData[stepper.index].hints">{{ hint }}</li>
        </ul>
      </div>
    </div>
    <div class="hints" *ngIf="stepper.index < 7">
      <div class="title">Vorschlag der Fachabteilung</div>
      <div class="empathyText">"{{ departmentData[stepper.index] }}"</div>
     </div>
  </div>
</div>
