.list-container {
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

.mat-title {
  margin-top: 50px;
}

.mat-list-item {
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid rgb(98, 98, 98, 0.374);
}
