<div class="mainContainer">
<div class="listContainer">


<div *ngIf="userRoleService.getUserRole() === 'human_resources'">

<div class="dashboardTitle">Deine Stellenanzeigen</div>

<div class="sectionContainer">

  <div align="end">
      <button mat-fab color="primary" (click)="onAddJobDescription()"><mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="title">Neue Stellenausschreibungen</div>
    <mat-nav-list role="list">
      <div  *ngFor="let item of jds">
      <mat-list-item *ngIf="item.stage === 'new'" role="listitem" >
        <a matLine (click)="openToEditNewJD(item.key)">{{ item.id }}</a>
        <button mat-icon-button>
          <mat-icon (click)="onDeleteJobDescription(item.key)">delete</mat-icon>
      </button>
      </mat-list-item>
      </div>
    </mat-nav-list>

</div>


<div class="sectionContainer">
<div class="title">In Bearbeitung durch Fachabteilung</div>
<mat-nav-list role="list">
  <div  *ngFor="let item of jds">
  <mat-list-item *ngIf="item.stage === 'send_to_department' || item.stage === 'in_edit_by_department'" role="listitem" >
    <a matLine (click)="openToEditNewJD(item.key)">{{ item.id }}</a>
    <button mat-icon-button>
      <mat-icon (click)="onDeleteJobDescription(item.key)">delete</mat-icon>
   </button>
  </mat-list-item>
  </div>
</mat-nav-list>
</div>

<div class="sectionContainer">
<div class="title">Fertiggestellt durch Fachabteilung</div>
<mat-nav-list role="list">
  <div  *ngFor="let item of jds">
  <mat-list-item *ngIf="item.stage === 'completed_by_department'" role="listitem" >
    <a matLine (click)="openToEditByHr(item.key)">{{ item.id }}</a>
    <button mat-icon-button>
      <mat-icon (click)="onDeleteJobDescription(item.key)">delete</mat-icon>
   </button>
  </mat-list-item>
  </div>
</mat-nav-list>
</div>

<div class="sectionContainer">
<div class="title">In Bearbeitung durch Personalabteilung</div>
<mat-nav-list role="list">
  <div  *ngFor="let item of jds">
  <mat-list-item *ngIf="item.stage === 'in_edit_by_hr'" role="listitem" >
    <a matLine (click)="openToEditByHr(item.key)">{{ item.id }}</a>
    <button mat-icon-button>
      <mat-icon (click)="onDeleteJobDescription(item.key)">delete</mat-icon>
   </button>
  </mat-list-item>
  </div>
</mat-nav-list>
</div>

<div class="sectionContainer">
<div class="title">Fertiggestellt</div>
<mat-nav-list role="list">
  <div  *ngFor="let item of jds">
  <mat-list-item *ngIf="item.stage === 'finished'" role="listitem" >
    <a matLine (click)="openPreview(item.key)">{{ item.id }}</a>
  </mat-list-item>
  </div>
</mat-nav-list>
</div>

<div class="heightSpacer"></div>
</div>
</div>
</div>
