<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Bundesgestaltung Prototype</span>
  <button mat-button (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
</mat-toolbar>
<div class="grid-container">
  <div class="grid-left">
    <div class="body-div">
      <app-section-list></app-section-list>
    </div>
  </div>
  <div class="grid-right">
    <div class="explain-div">
      <app-example></app-example>
    </div>
  </div>
</div>
