<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">

      <span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="goDashboard()">
        <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
      </button>
        <span class="title">JOBFIX</span>
      </span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <mat-radio-group [(ngModel)]="userRoleService.role" (change)="onRoleChange()">
            <button mat-menu-item>
          <mat-radio-button [value]="_human_resources" checked="true" >
            Personal
          </mat-radio-button>
        </button>
        <button mat-menu-item >
          <mat-radio-button [value]="_department">
            Fachabteilung
          </mat-radio-button>
        </button>
          </mat-radio-group>
          <!-- <mat-radio-group
            [(ngModel)]="role" >
            <button mat-menu-item >
            <mat-radio-button [value]="role">
              1111
            </mat-radio-button>
            <mat-radio-button [value]="role">
              2222222
            </mat-radio-button> -->
            <!-- <mat-radio-button *ngFor="let selection of selections" [value]="selection">
              {{ selection }}
            </mat-radio-button>
          </button>
          </mat-radio-group> -->
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon> Logout
          </button>
        </mat-menu>
    </mat-toolbar>
    <!-- <div class="contentContainer"> -->
      <router-outlet></router-outlet>
    <!-- </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
