.sidenav-container {
  height: 100%;
  background-image: url("../../assets/background.png");
  background-size: cover;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  /* backdrop-filter: blur(20px); */
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  justify-content: space-between;
  height: 50px;
}

.contentContainer {
  height: 100%;
}

.toolbar {
  color: black;
}

.title {
  position:absolute;
  top: 9px;
  left: 60px;
}
