<div class="mainContainer">

<div *ngIf="screen === 1">
  <div class="splashTitle">Willkommen bei JOBFIX.<br>
    Stellenanzeigen - <br>
    Zugeschnitten auf Bewerbende.</div>
  <div class="splashOneImageContainer">
    <img src="assets/splash_screen/1.svg" class="splashOneImage">
  </div>
  <div class="buttonBar">
    <span class="emptyButton"></span>
    <button mat-raised-button color="primary" (click)="next()" class="button">WEITER</button>
  </div>
</div>

<div *ngIf="screen === 2">
  <div class="splashTitle">JOBFIX hilft dir, bei der Erstellung von Stellenausschreibung, auf die Bedürfnisse von Bewerbenden einzugehen.</div>
  <div class="splashTwoImageContainer">
    <img src="assets/splash_screen/2a.svg" class="splashTwoImage">
  </div>
  <div class="buttonBar">
    <button mat-raised-button color="primary" (click)="back()" class="button">ZURÜCK</button>
    <button mat-raised-button color="primary" (click)="next()" class="button">WEITER</button>
  </div>
</div>

<div *ngIf="screen === 3">
  <div class="splashTitle">JOBFIX unterstützt dich dabei Fragen <br>
    und Interessen von Bewerbende zu beantworten. Damit wieder mehr qualitative Bewerbungen bei dir ankommen.</div>
  <div class="splashTwoImageContainer">
    <img src="assets/splash_screen/2b.svg" class="splashTwoImage">
  </div>
  <div class="buttonBar">
    <button mat-raised-button color="primary" (click)="back()" class="button">ZURÜCK</button>
    <button mat-raised-button color="primary" (click)="next()" class="button">WEITER</button>
  </div>
</div>

<div *ngIf="screen === 4">
  <div class="splashTitle">Fülle jetzt die Stellenausschreibung aus, anhand der Bedürfnisse der Bewerbenden,
    um viele qualitative Bewerbungen zu erhalten.</div>
  <div class="splashFourImageContainer">
    <img src="assets/splash_screen/4.svg" class="splashFourImage">
  </div>
  <div class="buttonBar">
    <button mat-raised-button color="primary" (click)="back()" class="button">ZURÜCK</button>
    <button mat-raised-button color="primary" (click)="login_as_department()" class="button">START ALS FACHABTEILUNG</button>
    <button mat-raised-button color="primary" (click)="login_as_human_resources()" class="button">START ALS PERSONALABTEILUNG</button>
  </div>
</div>

</div>
