<div class="mainContainer">
  <div class="stepperContainer">
    <div class="stepperContent">
    <div class="title">Neue Stelle erstellen</div>
    <form [formGroup]="form">
      <span class="inputLine">
        <mat-form-field >
          <input type="username" matInput placeholder="Ausschreibungsnummer" formControlName="id">
        </mat-form-field>
        <mat-form-field >
          <input type="username" matInput placeholder="Ort" formControlName="location">
        </mat-form-field>
      </span>
      <span class="inputLine">
        <mat-form-field >
          <input matInput placeholder="Bewerbungsfrist" formControlName="application_deadline">
        </mat-form-field>
        <mat-form-field >
          <input matInput placeholder="Einstellungsdatum" formControlName="start_date">
        </mat-form-field>
      </span>
      <span class="inputLine">
        <mat-form-field >
          <input matInput placeholder="Beschäftigungsart" formControlName="employment_type">
        </mat-form-field>
        <mat-form-field >
          <input matInput placeholder="Vergütung" formControlName="compensation">
        </mat-form-field>
      </span>
      <span class="inputLine">
        <mat-form-field >
          <input matInput placeholder="Bildungsabschluss" formControlName="education">
        </mat-form-field>
        <mat-form-field >
          <input matInput placeholder="Website" formControlName="website">
        </mat-form-field>
      </span>
    </form>
    <div *ngIf="key !== ''">
      <div class="title">Link für die Fachabteilung</div>
      <p>http://www.bundesgestaltung.de/home/department?key={{ key }}</p>
    </div>
    <span class="buttonBar">
      <button mat-raised-button color="primary" (click)="onClear()">ZURÜCK</button>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" *ngIf="key === ''" (click)="onCreate()">ERSTELLEN</button>
      <button mat-raised-button color="primary" *ngIf="key !== ''" (click)="onSave()">SICHERN</button>
      <!-- <button mat-raised-button color="primary" *ngIf="key !== ''" (click)="onSubmitToDepartment()">AN FACHABTEILUNG SENDEN</button> -->
    </span>
  </div>
</div>
  <div class="helpContainer">

  </div>
</div>
