<div class="container">
  <div class="left">
    <img src="../../assets/9384988_4171344.jpg" width="70%">
  </div>
  <div class="right">
    <div class="login-box">
    <mat-card>
      <mat-card-title>Willkommen</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="fakeSubmit()">
          <p>
            <mat-form-field>
              <input type="email" matInput placeholder="Email" formControlName="email">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field >
                <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-error >Wrong password</mat-error>
            </mat-form-field>
          </p>

          <div class="button">
            <button type="submit" mat-button>Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
